<!DOCTYPE html>
<html ng-app="TowerOptionsApp">
  <head>
    <meta charset="utf-8" />
    <link href="css/options.css" rel="stylesheet" type="text/css">
    <title>Options - Tower.im 增强版</title>
  </head>

  <body ng-controller="OptionsCtrl">
    <div class="page">
      <div class="page-inner">

        <h3>扩展设置</h3>

        <div class="form-item">
          <div class="form-label">隐藏历史事件</div>
          <div class="form-field">
            <label><input type="radio" name="hideEvents" ng-model="options.hideEvents" value="on" /> 隐藏</label>
            <label><input type="radio" name="hideEvents" ng-model="options.hideEvents" value="off" /> 显示</label>
          </div>
        </div>

        <div class="form-item">
          <div class="form-label">仅显示高亮的任务</div>
          <div class="form-field">
            <label><input type="radio" name="showHighlightsOnly" ng-model="options.showHighlightsOnly" value="on" /> 启用</label>
            <label><input type="radio" name="showHighlightsOnly" ng-model="options.showHighlightsOnly" value="off" /> 禁用</label>
          </div>
        </div>

      </div>
    </div>

    <div class="alert ng-hide" ng-show="message || false">{{ message }}</div>


    <script src="vendor/angular.min.js"  type="text/javascript"></script>
    <script src="vendor/sugar.min.js"  type="text/javascript"></script>
    <script src="javascripts/application.js" type="text/javascript"></script>
    <script src="javascripts/options.js" type="text/javascript"></script>
  </body>
</html>
